<header class="header theme-element">
  <div class="container header_container">
    <a href="/src/index.html">
      <div class="logo">
        <svg class="logo_img">
          <use href="/src/images/symbol-defs.svg#icon-logo"></use>
        </svg>

        <span class="logo_text theme-element">Cinemania</span>
      </div>
    </a>
    <div class="mobile_menu_container theme-element" id="mobile_menu_container" data-menu>
      <a href="/src/index.html">
        <svg class="mobile_menu_logo_img">
          <use href="/src/images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="navbar">
        <ul class="navbar_list" id="nav-header">
          <li class="navbar_list_item">
            <a href="/src/index.html" class="navbar_item_link"> Home </a>
          </li>
          <li class="navbar_list_item">
            <a href="/src/catalog.html" class="navbar_item_link theme-element"> Catalog </a>
          </li>
          <li class="navbar_list_item">
            <a href="/src/library.html" class="navbar_item_link theme-element">
              My library
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header_menu_btn theme-element" data-menu-open>Menu</button>
    <label class="theme-switch" for="theme-toggle">
        <input class="theme-switch__checkbox" type="checkbox" id="theme-toggle" />
        <svg class="theme-switch__icon--round" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.64817 2.64817C6.16958 -0.873235 11.8681 -0.884089 15.3761 2.62393C18.8841 6.13195 18.8732 11.8304 15.3518 15.3518C11.8304 18.8732 6.13195 18.8841 2.62393 15.3761C-0.884088 11.8681 -0.873235 6.16958 2.64817 2.64817Z" fill="white"/>
            <path d="M14.1765 3.57422C17.0554 6.65093 17.0446 11.6508 14.1523 14.7418" stroke="url(#paint0_linear_403_9)" stroke-width="1.2" stroke-linecap="round"/>
            <defs>
            <linearGradient id="paint0_linear_403_9" x1="14.4182" y1="4.37218" x2="18.2247" y2="5.2955" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFC226"/>
            <stop offset="1" stop-color="#F84119"/>
            </linearGradient>
            </defs>
        </svg> 
        <span class="theme-switch__slider"></span>
        <svg class="theme-switch__icon--sun" >
          <use href="images/symbol-defs.svg#icon-sun"></use>
        </svg>   
        <svg class="theme-switch__icon--moon" >
          <use href="images/symbol-defs.svg#icon-moon"></use>
        </svg>  
    <label>  
  </div>
  <div class="backdrop visual_hidden" data-backdrop></div>
</header>
