<section class="footer">
    <div class="container footer_containet">
        <p class="footer_copyright wraper_text">© 2023 | All Rights Reserved |</p>
        <div class="footer_wraper">
            <p class="wraper_descr wraper_text">
                Developed with
                <svg class="footer_icon" width="14" height="13">
                    <use href="/src/images/symbol-defs.svg#icon-heart"></use>
                </svg>
                <span class="wraper_text">by</span>
            </p>
            <p class="wraper_text_btn">
                <button class="footer_btn_link wraper_text" type="button" data-event="false">
                    GoIT Students
                </button>
            </p>
        </div>
    </div>
</section>
<div class="team team_backdrop is-hidden">
    <!-- is-hidden -->
    <div class="team_wrapper">
      <button class="team_modal_close_btn" type="button">
        <svg class="team_modal_close_icon" width="30" height="30">
          <use href="/src/images/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
        <h2 class="team_title">Development team</h2>
      <ul class="team_list">
        <li class="team_item">
          <div class="team_wrap">
            <img
              class="team_img"
              loading="lazy"
              width="200"
              src="/src/images/desktop-home-hero-img-1x.jpg"
              alt="Ihor Hodebskyi"/>
          </div>
          <div class="team_info">
            <h2 class="team_member">Ihor Hodebskyi</h2>
            <p class="team_role">Team Lead</p>
        </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Pavlo Jurba"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Pavlo Jurba</h2>
              <p class="team_role">Scrum Master</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Dariia Stakhniak"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Dariia Stakhniak</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Dima Levchenko"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Dima Levchenko</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Dmytro Duienko"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Dmytro Duienko</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Stepan Kharaton"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Stepan Kharaton</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Sotnyk Kateryna"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Sotnyk Kateryna</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Yevhen Kolchynskyi"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Yevhen Kolchynskyi</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
        <li class="team_item">
            <div class="team_wrap">
              <img
                class="team_img"
                loading="lazy"
                width="200"
                src="/src/images/desktop-home-hero-img-1x.jpg"
                alt="Oleg Furculița"/>
            </div>
            <div class="team_info">
              <h2 class="team_member">Oleg Furculița</h2>
              <p class="team_role">Full Stack Developer</p>
            </div>
        </li>
       
      </ul>
    </div>
  </div>