<section class="footer">
    <div class="container footer_containet">
        <p class="footer_copyright wraper_text">© 2023 | All Rights Reserved |</p>
        <div class="footer_wraper">
            <p class="wraper_descr wraper_text">
                Developed with
                <svg class="footer_icon" width="14" height="13">
                    <use href="/src/images/symbol-defs.svg#icon-heart"></use>
                </svg>
                <span class="wraper_text">by</span>
            </p>
            <p class="wraper_text_btn">
                <button class="footer_btn_link wraper_text" type="button" data-event="false">
                    GoIT Students
                </button>
            </p>
        </div>
    </div>
</section>