<section class="home-hero">
    <div class="home-hero-container container">
        <div class="home-hero ">
            <h1 class="home-hero-title">Let’s Make Your Own Cinema</h1>
            <p class="home-hero-text">Is a guide to creating a personalized movie theater experience. You'll need a
                projector, screen, and speakers.</p>
            <button type="button" class="home-hero-btn">Get Started</button>
        </div>
        <div class="hero-content"></div>
        <div class="home-hero-btns">
            <button data-modal-open type="button" class="hero-trailer-btn">Watch trailer</button>
            <button data-modal-open type="button" class="go-to-catalog-btn">More details</button>
        </div>
    </div>

</section>