<!-- <div class="no-trailer" id="js-close-no-trailer">
  <button type="button" class="no-trailer-close-btn" id="js-close-no-trailer-btn">
    <svg class="no-trailer-close-icon" width="16" height="16">
      <use href="/src/images/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <div class="no-trailer-content">
    <span class="no-trailer-text">OOPS...</span>
    <span class="no-trailer-text">We are very sorry!</span>
    <span class="no-trailer-text">But we couldn't find the trailer.</span>
  </div>
  <div class="no-trailer-img-wrap">
    <img
      class="no-trailer-img"
      src="/src/images/no-trailer-x1.png"
      alt="No trailer available"
      srcset="
        /src/images/no-trailer-x1.png 1x,
        /src/images/no-trailer-x2.png 2x
      "
    />
  </div>
</div> -->
