.button-light {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: none;
  cursor: pointer;
  transition: color 250ms linear, background 250ms linear, border 250ms linear;
}
.button-light:is(:hover, :focus) {
  color: #f87719;
  background: #f5f5f5;
  border: 1px solid #f87719;
}

.button-dark {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fafafa;
  padding: 12px 24px;
  background: transparent;
  border-radius: 74px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: color 250ms linear, background 250ms linear, border 250ms linear;
}
.button-dark:is(:hover, :focus) {
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
}

.button-modal {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 12px 24px;
  background: #000000;
  color: #ffffff;
  border-radius: 74px;
  border: 1px solid #f87719;
  cursor: pointer;
  transition: color 250ms linear, background 250ms linear, border 250ms linear;
}

.button-modal:is(:hover, :focus) {
  border: 1px solid #000000;
  background: #ffffff;
  color: #f87719;
}

.button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  padding: 11px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: color 250ms linear, background 250ms linear, border 250ms linear,
    border-color 250ms linear;
}

.button-search:is(:hover, :focus) {
  background: #ffffff;
  color: #f87719;
  border: 1px solid #ff4500;
  border-color: #f87719;
}

.button-card-modal {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17; /* 14px/12 */
  border: 1px solid rgba(255, 194, 38, 1);
  border-color: rgba(248, 65, 25, 1);
  border-radius: 74px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 24px;
  transition: color 250ms linear, background-color 250ms linear;
}

.button-card-modal:is(:hover, :focus) {
  background-color: #ffffff;
  color: #f87719;
}

/* ----------------------------- Width 768px --------------------------------- */

@media screen and (min-width: 768px) {
  .button-light {
    font-size: 14px;
    line-height: 20px;
  }

  .button-dark {
    font-size: 14px;
    line-height: 20px;
  }
  .button-modal {
    font-size: 14px;
    line-height: 20px;
  }

  .button-search {
    width: 44px;
    height: 44px;
    padding: 13px;
  }

  .button-card-modal {
    font-size: 12px;
    line-height: 1.33; /* 16px/12 */
  }
}

/* ----------------------------- Width 1280px --------------------------------- */

@media screen and (min-width: 1280px) {
  .button-light {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
  }

  .button-dark {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
  }

  .button-modal {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
  }

  .button-search {
    width: 48px;
    height: 48px;
  }
}
