:root {
    --primary-brand-color: #000000;
    --primary-text-color: #B7B7B7;
}

.search-section {
    background:var(--primary-brand-color);
    padding-top: 40px;
}

.search-form {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.catalog-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icon {
    width: 18px;
    height: 18px;
}

.input-field {
    width: 224px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #B7B7B7;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0em;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.gallery {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery-section {
    margin-bottom: 20px;
    background: var(--primary-brand-color);
}
.without-results-section{
    padding-top: 48px;
    background: var(--primary-brand-color);
}
.without-results {
    margin: 0 auto;
       width: 280px;
       height: 120px;   
text-align: center;
}
.without-results-text{
    color: #FFFFFF;
    font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
    margin: 0 auto;
}
.is-hidden {
    display: none;
}

/*---------------- кнопка в инпуте ------------------------*/
/* .input-field, */
.search {
    position: relative;    
}
.input-field:focus {
    box-shadow: 0 0 15px 5px #F87719;
    border: 2px solid #bebede;
    /* transition-duration: var(); */
}
.close-icon {
    background: transparent;
    border: transparent;
    position: absolute;    
        cursor: pointer;
        top: 25%;
        right: 24.5px;
        
}
    .icon-clear-text {
            width: 9px;
            height: 9px;
            color: rgb(4, 4, 4);
            
}
.input-field:not(:valid)~.icon-clear-text{
    display: none;
}


/*---------------------- tablet -------------------------------- */
 @media screen and (min-width: 768px) {
.without-results {
        width: 513px;
        height: 104px;
        text-align: center;
    }
    .without-results-text {
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.33;
        margin: 0 auto;
    }
        .search-section {
     padding-top: 60px;
        }
.gallery-section {
    margin-bottom: 44px;
}
}

/*---------------------- desktop -------------------------------- */
@media screen and (min-width: 1200px) {
.without-results {
        width: 684px;
        height: 124px;
        text-align: center;
    }

    .without-results-text {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 1.13;
        margin: 0 auto;
    }
.search-section {
    padding-top: 80px;
}
.gallery-section {
    margin-bottom: 60px;
}
}