.cards-section-backphoto {
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
border-radius: 5px;
margin-left: auto;
margin-right: auto;
height: 574px;
max-width: 394px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.info-cards-section {
  margin-left: 20px;
}

.info-card-section-title {
font-family: 'Roboto';
text-transform: uppercase;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}

.info-card-section-date {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #B7B7B7;
}