:root {
    --grey: #B7B7B7;
    --white: #fff;
    --black: #000;
    --orange:#F87719;
    --primary-brand-color: #000000;
    --primary-text-color: #b7b7b7;
}

ul {
    margin: 0;
}

.select-text {
    color: var(--grey);
    user-select: none;
    font-size: 14px;
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0em;
}

.select-btn {
    position: relative;
    width: 95px;
    height: 40px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--grey);
}

.options {
    position: absolute;
    width: 95px;
    height: 292px;
    list-style: none;
    padding: 8px 0;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--black);
    z-index: 5;
    opacity: 1;
    
    transition: 0.4s;
}

.select-menu .options::-webkit-scrollbar {
    display: none;
}

.option {
    padding: 12px;
    cursor: pointer;
    color: var(--white);
    user-select: none;
    transition: font-size 0.5s ease;
}

.select-menu .option:hover {
    font-size: 20px;
}

.select-menu .option:hover {
    color: var(--orange);
}


.hidden {
    opacity: 0;
    translate: 0 -20px;
    transition: 0.4s;
    /* display: none; */
}
/*---------------------- tablet -------------------------------- */

@media screen and (min-width: 768px) {
    
.select-btn {
        width: 105px;
        height: 44px;
        
    }
    }

        /*---------------------- desktop -------------------------------- */
        @media screen and (min-width: 1280px) {
            .select-btn {
                    width: 115px;
                    height: 48px;
            
                }
            .select-text{
                font-size: 16px;
            }    
            }
