.footer {
    background-color: var(--primary-brand-color);
}

.footer_containet {
    display: flex;
    min-width: 236px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 320px;
    padding-top: 40px;
    padding-bottom: 28px;

}
.footer_copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B7B7B7;
    margin-bottom: 8px;
    margin-top: 0;
}
.footer_wraper {
    align-items: center;
    display: flex;
}
.wraper_descr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.wraper_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B7B7B7;
}
.footer_icon {
    margin: 0 10px;
    animation: pulse .7s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(.94);
    }
    to {
        transform: scale(1.5);
    }
}
.wraper_text_btn {
    margin-top: 0;
    margin-left: 5px;
}
.footer_btn_link {
    background: none;
    padding: 0;
    border: 2px solid #B7B7B7;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

/* ----------------- tablet -------------------------------- */
@media screen and (min-width: 768px) {
    .footer_containet {
        display: flex;
        max-width: 768px;
        padding-top: 60px;
        padding-bottom: 40px;
        flex-direction: row;
    }
    .footer_copyright {
        margin: 0;
        margin-right: 5px;
    }
    .wraper_descr {
        margin-bottom: 0;
    }
    .wraper_text_btn {
        margin-bottom: 0;
    }
    .wraper_text {
        font-size: 16px;
        line-height: 1.19;
    }
}

/* ----------------- descktop -------------------------------- */
@media screen and (min-width: 1200px) {
    .footer_containet {
        padding-top: 96px;
        padding-bottom: 80px;
    }
}