/* .galery-library{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
} */
.color-link{
    color: inherit;
}
.gallery-zero-res-btn{
    margin-top: 20px;
}
.galery-library-btn{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.galery-library-text{
    margin-left: auto;
    margin-right: auto;
    width: 584px;
    height: 124px;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--primary-title-color);
}
.galery-library-text > span{
    display: block;
    text-align: center;
}

 @media screen and (min-width: 768px) {
    .galery-library {
        display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 15px;
            row-gap: 28px;
     }
    }    

