.home-hero {
  height: 380px;
}

.home-hero-container {
  max-width: 428px;
  margin: 0 auto;
}

/* ---------- Static Hero Styles ---------- */

.home-hero-plug {
  background-image: linear-gradient(
      86.47deg,
      #111111 33.63%,
      rgba(17, 17, 17, 0) 76.86%
    ),
    url(../images/mobile-home-hero-img-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 380px;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .home-hero-plug {
    background-image: linear-gradient(
        86.47deg,
        #111111 33.63%,
        rgba(17, 17, 17, 0) 76.86%
      ),
      url(../images/mobile-home-hero-img-2x.jpg);
  }
}

.home-hero-plug-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19; /* 38/32 */
  margin-top: 0;
  margin-bottom: 8px;
  max-width: 200px;
  color: #ffffff;
}

.home-hero-plug-text {
  max-width: 177px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14; /* 16/14 */
  margin-top: 0;
  margin-bottom: 20px;
  color: #f8f8f8;
}

.home-hero-plug-btn {
  margin-top: 0;
}

/* ---------- Dynamic Hero Styles ---------- */

.home-hero-film {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 380px;
  width: 100%;
  position: relative;
}

.home-hero-content {
  position: absolute;
  top: 40px;
  left: 20px;
}

.home-hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19; /* 38/32 */
  margin: 0;
  margin-bottom: 12px;
  max-width: 240px;
  color: #ffffff;
}

.home-hero-rate {
  width: 96px;
  height: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.home-hero-text {
  max-width: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14; /* 16/14 */
  margin: 0;
  margin-bottom: 20px;
  color: #f8f8f8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.home-hero-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* -------------------- min-width: 768px -------------------- */

@media screen and (min-width: 768px) {
  .home-hero {
    height: 432px;
  }

  .home-hero-container {
    max-width: 768px;
  }

  /* ---------- Static Hero Styles ---------- */

  .home-hero-plug {
    background-image: linear-gradient(
        86.47deg,
        #111111 33.63%,
        rgba(17, 17, 17, 0) 76.86%
      ),
      url(../images/tablet-home-hero-img-1x.jpg);
    max-height: 372px;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .home-hero-plug {
      background-image: linear-gradient(
          86.47deg,
          #111111 33.63%,
          rgba(17, 17, 17, 0) 76.86%
        ),
        url(../images/tablet-home-hero-img-2x.jpg);
    }
  }

  .home-hero-plug-title {
    font-size: 44px;
    line-height: 1.18;
    max-width: 332px;
  }

  .home-hero-plug-text {
    max-width: 375px;
    margin-bottom: 32px;
  }

  /* ---------- Dynamic Hero Styles ---------- */

  .home-hero-film {
    height: 432px;
  }

  .home-hero-content {
    top: 36px;
    left: 32px;
  }

  .home-hero-title {
    font-size: 44px;
    line-height: 1.18; /* 52/44 */
    max-width: 445px;
  }

  .home-hero-rate {
    width: 116px;
    height: 20px;
    margin-bottom: 20px;
  }

  .home-hero-text {
    max-width: 260px;
    margin-bottom: 28px;
  }
}

/* -------------------- min-width: 1280px -------------------- */

@media screen and (min-width: 1280px) {
  .home-hero {
    height: 660px;
  }

  .home-hero-container {
    max-width: 1280px;
  }

  /* ---------- Static Hero Styles ---------- */

  .home-hero-plug {
    background-image: linear-gradient(
        86.47deg,
        #111111 33.63%,
        rgba(17, 17, 17, 0) 76.86%
      ),
      url(../images/desktop-home-hero-img-1x.jpg);
    max-height: 660px;
    padding-top: 169px;
    padding-bottom: 169px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .home-hero-plug {
      background-image: linear-gradient(
          86.47deg,
          #111111 33.63%,
          rgba(17, 17, 17, 0) 76.86%
        ),
        url(../images/desktop-home-hero-img-2x.jpg);
    }
  }

  .home-hero-plug-title {
    max-width: 464px;
    font-size: 64px;
    line-height: 1.15;
    margin-bottom: 16px;
  }

  .home-hero-plug-text {
    font-size: 16px;
    line-height: 1.18;
    max-width: 464px;
    margin-bottom: 32px;
  }

  /* ---------- Dynamic Hero Styles ---------- */

  .home-hero-film {
    height: 660px;
  }

  .home-hero-content {
    top: 118px;
    left: 134px;
  }

  .home-hero-title {
    max-width: 675px;
    font-size: 64px;
    line-height: 1.17; /* 75/64 */
    margin-bottom: 16px;
  }

  .home-hero-rate {
    width: 140px;
    height: 24px;
    margin-bottom: 28px;
  }

  .home-hero-text {
    font-size: 16px;
    line-height: 1.19; /* 19/16 */
    max-width: 370px;
    margin-bottom: 36px;
  }

  .home-hero-btns {
    gap: 14px;
  }
}
