.home-hero {
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 130px;
}

.home-hero-container {
    overflow-x: hidden;
    /*position: relative;*/
    min-height: 380px;
}

.home-hero-poster {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.home-hero-film {}

@media screen and (min-width: 320px),
(max-width: 480) {
    /*.container {
        min-width: 320px;
        max-width: 428px;
        padding: 0 20px;
        margin: auto;
    }*/
}

@media screen and (min-width: 768px) {
    /*.container {
        max-width: 768px;
        padding: 0 32px;
    }*/
}

@media screen and (min-width: 1280px) {
    /*.container {
        max-width: 1280px;
    }*/
}