@import url('./root.css');
@import url('./catalog.css');
@import url('./footer.css');
@import url('./gallery.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./library.css');
@import url("./hero-library.css");
@import url('./modal-film.css');
@import url('./month.css');
@import url('./weekly.css');
@import url('./modal-trailer.css');
@import url('./theme-switch.css');
@import url('./scroll-to-top.css');
@import url('./button.css');
@import url('./filmcardinfo.css');
@import url('./spinner.css');

