.modal-film-window {
  width: 280px;
  height: 847px;
  padding: 26px 16px 52px 16px;
  background-color: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  overflow: hidden;
}

.modal-film-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-bottom: 8px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: #f8f8f8;
  transition: color 250ms ease;
}

.modal-film-btn-close:hover,
.modal-film-btn-close:focus {
  color: #f87719;
}

.modal-film-icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-film-item-wrap {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 22px;
}

.modal-film-item-img {
  display: block;
  width: 248px;
  height: 315px;
}

.modal-film-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15; /* 23px/20 */
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
}

.modal-film-item-flex {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.modal-film-item-flex:not(:last-child) {
  margin-bottom: 12px;
}

.modal-film-item-flex.modal-film-item-flex-two {
  align-items: start;
  margin: 0;
}

.modal-film-item-text {
  flex-basis: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /* 16px/14 */
  color: #b7b7b7;
  margin: 0;
}

.modal-film-vote {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17; /* 14px/12 */
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.modal-film-votes {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1px 8px;
}

.modal-film-slash {
  margin-left: 7px;
  margin-right: 4px;
  color: #ffffff;
  line-height: 1.2;
}

.modal-film-popular {
  max-width: 50%;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; /* 19px/16 */
  color: #ffffff;
}

.modal-film-genre {
  max-width: 50%;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /* 16px/14 */
  color: #ffffff;
}

.modal-film-item-about {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #b7b7b7;
}

.modal-film-desc {
  font-size: 12px;
  line-height: 1.67; /* 20px/12 */
  color: #f8f8f8;
  max-height: 170px;
  overflow-y: auto;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-film-window {
    width: 704px;
    height: 488px;
    padding: 30px 30px 44px 44px;
  }

  .modal-film-item {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
  }

  .modal-film-btn-close {
    margin-bottom: 3px;
  }

  .modal-film-item-img {
    width: 294px;
    height: 400px;
  }

  .modal-film-item-content {
    flex-basis: 50%;
  }

  .modal-film-item-title {
    font-size: 24px;
    line-height: 1.17; /* 28px/24 */
    margin-bottom: 26px;
  }

  .modal-film-item-about {
    margin-top: 20px;
    margin-bottom: 24px;
  }

  .modal-film-desc {
    max-height: 140px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film-window {
    width: 846px;
    height: 598px;
    padding: 46px 46px 60px 60px;
  }

  .modal-film-item {
    gap: 20px;
  }

  .modal-film-item-img {
    width: 375px;
    height: 478px;
  }

  .modal-film-item-title {
    font-size: 24px;
    line-height: 1.33; /* 32px/24 */
    margin-bottom: 28px;
  }

  .modal-film-item-text {
    font-size: 16px;
    line-height: 1.19; /* 19px/16 */
  }

  .modal-film-vote {
    font-size: 12px;
    line-height: 1.33; /* 16/12 */
  }

  .modal-film-genre {
    font-size: 16px;
    line-height: 1.19; /* 19/16 */
  }

  .modal-film-item-about {
    font-size: 16px;
    line-height: 1;
  }

  .modal-film-desc {
    font-size: 14px;
    line-height: 1.43; /* 20px/14 */
    max-height: 160px;
    margin-bottom: 24px;
  }
}
