.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .modal-film-backdrop{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 47, 66, 0.4);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-film-item-img > img{
    display: block;
  }
  .modal-film-btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
  .modal-film-btn-close:hover,
  .modal-film-btn-close:focus {
    background-color: rgba(46, 47, 66, 0.4);
  }
  .modal-film-btn-close:hover .modal-film-icon-close,
  .modal-film-btn-close:focus .modal-film-icon-close {
    fill: #282828;
  }
  .modal-film-icon-close {
    width: 15px;
    height: 15px;
  }
  .modal-film-window{
      position: absolute;
      padding: 60px;
      top: 50%;
      left: 50%;
      width: 846px;
      height: 598px;
      /* padding: 0 24px; */
      background-color: #fcfcfc;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      transform: translate(-50%, -50%);
  }
  .modal-film-item-title{
    width: 331px;
  }
  .modal-film-item-title > h3:first-child{
      margin: 22px 0 29px 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.15;
      
  }
  .modal-film-item-title > h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 12px 0;
  
  }
  
  .modal-film-item-title > p{
    margin: 8px 0 16px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    text-transform: uppercase;
  /* Background */
    color: #111111;
  }
  
  .modal-film-vote{
    margin-left: 62px;
  }
  
  .modal-film-votes, .modal-film-vote {
    padding: 1px 8px;
     /* Secondary text */
    background: #F8F8F8;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    /* Background */
    color: #111111;
  }
  .modal-film-popular{
    margin-left: 78px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    text-transform: uppercase;
    color: #282828;
  }
  .modal-film-genre{
    margin-left: 108px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    /* Secondary black */
    color: #282828;
  }
  .modal-film-item-img{
    width: 375px; 
    height: 478px;
    box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
    border-radius: 5px;
    overflow: hidden;
    
  }
  .modal-film-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    color: #282828;
  }
  .modal-film-btn{
    display: block;
    margin-top: 24px;
  }
  @media screen and (min-width: 320px), (max-width: 480) {
    .modal-film-window{
      padding: 52px 16px;
      
      width: 280px;
      height: auto;
    }
    .modal-film-item-img > img{
      width: 248px;
      height: auto;
    }
  
  }
  @media screen and (min-width: 768px) {
    .modal-film-item{
      display: flex;
      gap: 20px;
    }
    .modal-film-item-img > img{
      width: 375px;
      height: auto;
    }
    .modal-film-window{
      padding: 60px;
      top: 50%;
      left: 50%;
      width: 846px;
      height: 598px;
    }
    .modal-film-item-title > h3:first-child{
      margin: 0 0 26px 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.15;
      
  }
  }
  @media screen and (min-width: 1280px) {
    .modal-film-item{
      display: flex;
      gap: 20px;
    }
    .modal-film-item-title > h3:first-child{
      margin: 0 0 28px 0;
    }
    .modal-film-item-img > img{
      width: 375px;
      height: auto;
    }
  }