:root {
    /* popularity-text, genre-text, title */
    --primary-title-color: #FFFFFF;
    /* vote , popularity, genre, about */
    --primary-vote-color: #B7B7B7; 
    --primary-vote-color-text: #111111;
    --primary-about-text: #F8F8F8;
    --primary-date-text: #F87719;
  }

.month-title{
    margin: 0 0 28px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.18;
    text-transform: uppercase;
/* White */
    color: var(--primary-title-color);
}
.month-item-title-h3 {
    margin: 0 0 12px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
/* Grey */
    color: var(--primary-vote-color);
}
.month-item-title-h3-main{
    /* margin: 0 0 28px 0; */
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    text-transform: uppercase;
/* White */
    color: var(--primary-title-color);
}
.month-vote {
    margin-left: 62px;
}
.month-votes, .month-vote {
    padding: 1px 8px;
    width: 36px;
    height: 18px;
    /* Secondary text */
    background: #F8F8F8;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    /* Background */
    color: var(--primary-vote-color-text);
}
.month-popular{
    margin-left: 78px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    text-transform: uppercase;
    /* Secondary black */
    color: var(--primary-title-color);
}

.month-genre{
    margin-left: 108px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    /* Secondary black */
    color: var(--primary-title-color);
}

.month-item-p{
    margin: 8px 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    text-transform: uppercase;
/* Background */
    color: var(--primary-vote-color);
}
.month-text{
    font-weight: 400;
    font-size: 14px;
  /* Secondary black */
    color: var(--primary-about-text);
}
 .month-btn{
   display: flex;
 }
 
.month-item-img > picture > img , .month-item-img > picture{
    display: block;
    object-fit: cover;
    max-width: 100%;
    
}
.month-item-img{
    border-radius: 5px;
    overflow: hidden;
} 
.month-rel-date{
    margin-left: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-date-text);
}
@media screen and (min-width: 320px), (max-width: 480) {
    .month-item-title > h3:first-child{
        margin: 24px 0 20px 0;

    }
    .month-btn{
        margin: 20px 0 0 0; 
    }
  }

  @media screen and (min-width: 768px) {
    .month-item-title > h3:first-child{
        margin: 32px 0 24px 0;
    }
    .month-item-title-text{
        display: flex;
        justify-content: space-between;
        /* gap: 118px; */
    }
    .month-btn{
        margin: 20px 0 0 0; 
    }
        
  }

  @media screen and (min-width: 1280px) {
    .month-item-title > h3:first-child{
        margin: 0 0 28px 0;
    }
    .month-item-title-text{
        display: block;
    }
    .monthgalery{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        
    }
    .month-item{
        display: flex;
        /* flex-basis: 100%; */
        gap: 16px;
        
    }
    .month-item-title{
        max-width: 390px;
        
    }
    .month-btn{   
        margin: 24px 0 0 0;
    }
  }

