body {
  font-family: 'Roboto', sans-serif;
  background-color: #111111;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

@media screen and (min-width: 320px), (max-width: 480) {
  .container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 20px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
