.weekly {
  padding: 40px 0 32px 0;
}
.weekly-content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.weekly-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
.weekly-list {
  padding: 0;
  margin: 0;
}
.weekly-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #f87719;
}

@media screen and (min-width: 768px) {
  .weekly {
    padding: 52px 0 44px 0;
  }
  .weekly-title,
  .weekly-button {
    font-size: 24px;
    line-height: 1.16;
  }
  .weekly-list {
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .weekly {
    padding: 80px 0 60px 0;
  }
  .weekly-title,
  .weekly-button {
    font-size: 28px;
    line-height: 33px;
  }
}
