
<section class="search-section theme-element">
    <div class="container">
        <form class="search-form theme-element" id="search-form">

            <!-- <input type="search" name="search" autocomplete="off" placeholder="Search" class="input-field" />
            <button type="submit" class=""><svg class="icon icon-search" width="18" height="18"> -->

            <div class="search-field">
            <input type="text" name="search" autocomplete="off" placeholder="Search" class="input-field theme-element" />
            <button class="close-icon" type="reset">
                <svg class="icon-clear-text theme-element">
                    <use href="./images/symbol-defs.svg#icon-x"></use>
                </svg></button>
            </div>
            <div class="flex-mobile">
            <div class="select-menu">
                <div class="select-btn theme-element">
                    <span class="select-text theme-element">Year</span>
                    <svg class="icon-arrow-down theme-element">
                        <use href="./images/symbol-defs.svg#icon-arrow-down"></use>>
                    </svg>
                </div>
                <ul class="options theme-element hidden"> 
                </ul>
              </div>
            <!-- <button type="submit" class=""> -->

            <button type="submit" class="catalog-btn button-search">

                <svg class="icon icon-search theme-element">
                    <use href="./images/symbol-defs.svg#icon-search"></use>
                </svg></button>
            </div>
        </form>
    </div>
</section>

<section class="without-results-section is-hidden theme-element">
    <div class="container">
        <div class= "without-results theme-element">
        <p class="without-results-text theme-element">OOPS...</p><p class="without-results-text theme-element">We are very sorry!</p><p class="without-results-text theme-element">We don't have any results matching your search.</p>
        </div></div>
</section>

<section class="gallery-section theme-element">
    <div class="container">
        <div class='spinner'>
            <span class='ball-1'></span>
            <span class='ball-2'></span>
            <span class='ball-3'></span>
            <span class='ball-4'></span>
            <span class='ball-5'></span>
            <span class='ball-6'></span>
            <span class='ball-7'></span>
            <span class='ball-8'></span>
        </div>
        <div class="create-gallery">
            <!-- Карточки изображений -->
        </div>
    </div>
</section>

