
<section class="search-section">
    <div class="container">
        <form class="search-form" id="search-form">

            <!-- <input type="search" name="search" autocomplete="off" placeholder="Search" class="input-field" />
            <button type="submit" class=""><svg class="icon icon-search" width="18" height="18"> -->

            <div class="search-field">
            <input type="text" name="search" autocomplete="off" placeholder="Search" class="input-field" />
            <button class="close-icon" type="reset">
                <svg class="icon-clear-text">
                    <use href="./images/symbol-defs.svg#icon-x"></use>
                </svg></button>
            </div>
            <button type="submit" class="catalog-btn">
                <svg class="icon icon-search">
                    <use href="./images/symbol-defs.svg#icon-search"></use>
                </svg></button>
        </form>
    </div>
</section>

<section class="without-results-section is-hidden">
    <div class="container">
        <div class= "without-results">
        <p class="without-results-text">OOPS...</p><p class="without-results-text">We are very sorry!</p><p class="without-results-text">We don't have any results matching your search.</p>
        </div></div>
</section>

<section class="gallery-section">
    <div class="container">
        <div class="create-gallery">
            <!-- Карточки изображений -->
        </div>
    </div>
</section>

