<section class="search-section">
    <div class="container">
        <form class="search-form" id="search-form">
            <input type="search" name="searchQuery" autocomplete="off" placeholder="film" class="input-field" />
            <button type="submit" class=""><svg class="icon icon-search" width="18" height="18">
                    <use href="./images/symbol-defs.svg#icon-search"></use>
                </svg></button>
        </form>
    </div>
</section>

<section class="">
    <div class="container without-results">
        <p class="without-results-text">OOPS...We are very sorry!We don't have any results matching your search.</p>
    </div>
</section>

<section class="gallery-section">
    <div class="container">
        <div class="gallery">
            <!-- Карточки изображений -->
        </div>
    </div>
</section>